mule-camunda-24-app/src/main/app/wundershop.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:smtps="http://www.mulesoft.org/schema/mule/smtps" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:pop3s="http://www.mulesoft.org/schema/mule/pop3s"
    xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
    xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/pop3s http://www.mulesoft.org/schema/mule/pop3s/current/mule-pop3s.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/smtps http://www.mulesoft.org/schema/mule/smtps/current/mule-smtps.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <context:property-placeholder location="mail.properties" />

    <flow name="WundershopMail" doc:name="WundershopMail">
        <pop3s:inbound-endpoint host="${mail.pop.host}" port="${mail.pop.port}" user="${mail.pop.user}"
            password="${mail.pop.password}" responseTimeout="10000" doc:name="camunda-mule-wundershop" />
        <flow-ref name="OrderFlow" doc:name="OrderFlow" />
    </flow>

    <sub-flow name="OrderFlow" doc:name="OrderFlow">
        <json:json-to-object-transformer returnClass="de.codecentric.wundershop.domain.Bestellung"
            doc:name="JSON to Object" />
        <custom-transformer class="de.codecentric.wundershop.transformers.CreateWorkflowTransformer" doc:name="CreateWorkflow"/>
    </sub-flow>

    <flow name="PollForPayment" doc:name="PollForPayment">
        <poll doc:name="Poll Shop">
            <fixed-frequency-scheduler frequency="10" timeUnit="SECONDS" />
            <echo-component doc:name="Echo" />
        </poll>
        <vm:outbound-endpoint exchange-pattern="request-response" path="poll-call" doc:name="poll-call"/>
        <response>
            <expression-transformer expression="#[payload.payments]" doc:name="list with payments"/>
            <collection-splitter doc:name="Collection Splitter"/>
            <custom-transformer class="de.codecentric.wundershop.transformers.SendPaymentReceivedToWorkflow" doc:name="Java"/>
            <cxf:jaxws-client operation="markPaymentProcessed" serviceClass="de.codecentric.wundershop.shopservice.Shopservice"
                soapVersion="1.2" doc:name="CXF" />
            <http:outbound-endpoint exchange-pattern="request-response" address="http://localhost:8081/soap/shop"
                method="POST" doc:name="HTTP" />
        </response>
    </flow>

    <flow name="PollVmFlow" doc:name="PollVmFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="poll-call" doc:name="poll-call" />
        <cxf:jaxws-client operation="getUnprocessedPayments" serviceClass="de.codecentric.wundershop.shopservice.Shopservice"
            soapVersion="1.2" doc:name="CXF" />
        <http:outbound-endpoint exchange-pattern="request-response" address="http://localhost:8081/soap/shop"
            method="POST" doc:name="HTTP" />
    </flow>
    
    <flow name="SendMailFlow" doc:name="SendMailFlow">
        <vm:inbound-endpoint exchange-pattern="one-way" path="vm-send-mail-in" doc:name="Send-Mail" />
        <smtps:outbound-endpoint host="${mail.smtp.host}" port="${mail.smtp.port}" user="${mail.smtp.user}"
            password="${mail.smtp.password}" to="#[message.inboundProperties['to']]" from="#[message.inboundProperties['from']]"
            subject="#[message.inboundProperties['subject']]" responseTimeout="10000" doc:name="SMTP" />
        <vm:outbound-endpoint exchange-pattern="one-way" path="vm-send-mail-out" doc:name="Mail-Test out" />
    </flow>

    <!-- Flows für Testzwecke -->

    <flow name="VMTestFlow" doc:name="VMTestFlow">
        <vm:inbound-endpoint exchange-pattern="one-way" path="vm-mail-test-in" doc:name="Mail-Test in" />
        <flow-ref name="OrderFlow" doc:name="OrderFlow" />
        <vm:outbound-endpoint exchange-pattern="one-way" path="vm-mail-test-out" doc:name="Mail-Test out" />
    </flow>

    <flow name="BestellungJsonCreator" doc:name="BestellungJsonCreator">
        <vm:inbound-endpoint exchange-pattern="request-response" path="jsoncreate" doc:name="JsonCreate" />
        <json:object-to-json-transformer doc:name="Object to JSON" />
    </flow>

</mule>
